 {{#if user}}
<div>
    <p class="text-white">You have been logged as:  {{user.email}} </p>
</div>
{{/if}}
<div>
    <p class="text-white">"If no mistake you have made, losing you are.  A different game you should play"</p>
</div>